html {
    height: 100%;
}
body {
    height: 100%;
}

.status {
    color: #222;
    background-color: red;
    text-align: center;
    width: 4em;
}

.color-status {
    width: 4em;
}

@-webkit-keyframes flash-border {
    0% { border-color: white; }
    100% { border-color: #222; }
}

@keyframes flash {
    0% { border-color: white; }
    100% { border-color: #222; }
}

.flash-border {
    opacity: 1;
    -webkit-animation: flash-border 0.2s;
    animation: flash-border 0.2s;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0.5em;
    font-size: 1.5em;
    height: 100%;
    overflow: scroll;
}

#right-container {
    height: 100%;
    overflow-y: scroll;
}

.color-status {
    background-color: black;
}

td {
    border: 0.2em solid #222;
    background-color: #222;
    border-color: #222;
    margin: .2em;
}

tr {
    background-color: #222;
    border-color: #222;
}

.online {
    background-color: lime;
    color: black;
}

table {
    width: 100%;
    border: 0.5em solid black;
    background-color: #222;
    padding: .5em;
}

#thead-playlist, #tbody-playlist { display: block; }

#tbody-playlist {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}