[Unit]
Description=Keeps necessary MIDI connections active (aconnect)

[Service]
User=root
WorkingDirectory=/usr/local/sbin
ExecStart=/usr/bin/bash /usr/local/sbin/keepConnections.sh
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
